#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--body-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
    -o-transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
    transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
    z-index: 999;
  }
  
  #loader.show {
    -webkit-transition: opacity 0.6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity 0.6s ease-out, visibility 0s linear 0s;
    transition: opacity 0.6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
  }
  
  #loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid var(--body-color);
    border-top: 5px solid var(--second-color);
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }