/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --body-color: #041c32;
  --first-color: #dbdbdb;
  --first-color-alt: #d8dadbc2;
  --second-color: #ff4848;
  --second-color-alt: #df7070;
  --scroll-bar-bg: #0a2d4e;
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  ;

  --h1-font-size: 4rem;
  --h2-font-size: 2.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

@media (max-width: 767.98px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  }
}

/*==================== BASE ====================*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--first-color);
  overflow-x: hidden;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

section{
  padding: 2rem 0 4rem;
  position: relative;
  width: 100%;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--scroll-bar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: 0.1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--first-color-alt);
}